/* qna */

.community.qna .qna-info > .qna-list {
    margin-top: 50px;
    width: 1170px;
    height: 60px;
    border: 1px solid #dadada;
    padding: 20px 0;
}
.community.qna .qna-info > .qna-list > ul {
    text-align: center;
}
.community.qna .qna-info > .qna-list > ul > li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.community.qna .qna-info > .qna-list > ul > li > a {
    font-size: 13px;
    color: #555;
}
.community.qna .qna-info > .qna-list > ul > li:before {
    position: absolute;
    top: 0;
    left: -16px;
    content: "|";
}
.community.qna .qna-info > .qna-list > ul > li:first-child:before {
    content: "";
}
.community.qna .qna-info > .qna-list > ul > li:last-child {
    margin-right: 0;
}
.community.qna .qna-info > .qna-list > ul > .active > a {
    color: #222;
    font-weight: bold;
}
.community.qna .qna-info > .table-wrap {
    padding-top: 70px;
    position: relative;
}
.community.qna .qna-info > .table-wrap > .search-form {
    position: absolute;
    top: 19px;
    right: 0;
}
.community.qna .qna-info > .table-wrap > .table {
    margin-bottom: 50px ;
}
.community.qna .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn02_on.png);
}

/* review-list */
.community.review-list .review > .table-wrap {
    padding-top: 100px;
    position: relative;
}
.community.review-list .review > .table-wrap > .table {
    margin-bottom: 50px;
}
.community.review-list .review > .table-wrap > .search-form {
    position: absolute;
    top: 49px;
    right: 0;
}
.community.review-list .review > .table-wrap > .table > tbody > tr > td {
    vertical-align: middle;
}

.community.review-list .review > .table-wrap > .table > tbody > tr > td:nth-of-type(3) {
    text-align: left !important;
    padding-left: 45px !important;
}
.community.review-list .review > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > a {
    width: 580px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.community.review-list .review > .table-wrap > .table > tbody > tr > td > p {
    display: inline;
    margin-right: 10px;
}
.community.review-list .review > .table-wrap > .table > tbody > tr > td > p > img {
    width: 60px;
    height: 70px;
}
.community.review-list .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}

/* review-view */
.community.review-view .view > .table-wrap {
    margin-top: 50px;
    border-top: 1px solid #333;
}
.community.review-view .view > .table-wrap > .table > tbody > tr > td {
    padding-left: 20px !important;
    text-align: left !important;
}
.community.review-view .view > .table-wrap > .table > tbody > tr > th {
    background-color: #fafafa ;
    font-weight: bold ;
    vertical-align: middle;
}
.community.review-view .view > .table-wrap > .table > tbody > tr > th {
    border-bottom: 1px solid #dadada !important;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td {
    padding: 10px !important;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view {
    overflow: hidden;
    height: 125px;
    border: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    padding: 10px;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > p {
    float: left;
    width: 85px;
    height: 105px;
    margin-right: 16px;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > p > img {
    width: 85px;
    height: 105px;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > h6 {
    font-size: 12px;
    color: #666;
    margin: 0;
    padding: 6px 0 9px 0;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > dl > dt {
    font-weight: 300;
    font-size: 12px;
    color: #666;
    display: inline-block;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > dl > dt:before {
    content: "[";
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > dl > dd:before {
    content: ":";
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > dl > dd:after {
    content: "]";
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > .detail-view > dl > dd {
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(5) {
    height: 272px;
}
.community.review-view .view > .table-wrap > .table > tbody > tr:nth-of-type(6) > td > a:hover {
    text-decoration: underline !important;
}
.community.review-view .view > .table-wrap > .btn-area {
    width: 1170px;
    position: relative;
}
.community.review-view .view > .table-wrap > .btn-area > p > .btn {
    width: 80px !important;
    height: 35px !important;
    padding: 8px 15px !important;
    margin: 0 !important;
}
.community.review-view .view > .table-wrap > .btn-area > p > .btn:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.community.review-view .view > .table-wrap > .btn-area > p > .btn:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 180px;
}
.community.review-view .view > .table-wrap > .btn-area > p > .btn:nth-of-type(3) {
    position: absolute;
    top: 0;
    right: 90px;
}
.community.review-view .view > .table-wrap > .btn-area > p > .btn:nth-of-type(4) {
    position: absolute;
    top: 0;
    right: 0;
}
.community.review-view .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}

/* review-write */
.community.review-write .write > .table-wrap {
    padding-top: 50px;
}
.community.review-write .write > .table-wrap > form > .table {
    margin-bottom: 50px;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr > th {
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 20px !important;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr:first-child > th {
    border-top: 1px solid #333;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr:first-child > td {
    border-top: 1px solid #333;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr > td {
    padding: 7px !important;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr > td > input {
    width: 997px;
    height: 30px;
}
.community.review-write .write > .table-wrap > form > .table > tbody > tr > td > textarea {
    width: 997px;
    height: 360px;
}
.community.review-write .write > .table-wrap > .btn-area {
    text-align: center;
}
.community.review-write .write > .table-wrap > .btn-area > p > .btn {
    width: 150px !important;
    height: 50px !important;
    font-size: 13px !important;
    display: inline-block !important;
    margin: 0 !important;
}
.community.review-write .write > .table-wrap > .btn-area > p > .btn-green {
    margin-right: 10px !important;
}
.community.review-write .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}


/* event */
.community.event .event-info > .nav.nav-pills {
    margin-top: 50px;
}
.community.event .event-info > .event-content {
    overflow: hidden;
}
.community.event .event-info > .event-content > .search-form {
    float: right;
    margin: 50px 0;
}
.community.event .event-info > .event-content > .event-list {
    clear: both;
}
.community.event .event-info > .event-content > .event-list > li {
    display: inline-block;
    margin: 0 63px 50px 0;
}
.community.event .event-info > .event-content > .event-list > li:nth-of-type(3) {
    margin-right: 0;
}
.community.event .event-info > .event-content > .event-list > li:nth-of-type(6) {
    margin-right: 0;
}
.community.event .event-info > .event-content > .event-list > li > a:hover > p > img {
    opacity: 0.8;
}
.community.event .event-info > .event-content > .event-list > li > a > p > img {
    width: 340px;
    height: 350px;
}
.community.event .event-info > .event-content > .event-list > li > a > h5 {
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin: 0;
    padding: 17px 0 5px;
}
.community.event .event-info > .event-content > .event-list > li > a > .date {
    font-size: 13px;
    font-weight: 300;
    color: #999;
}
.community.event .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}


/* notice */
.community .sub-menu {
    width: 1170px;
    padding: 22px 0;
    margin-bottom: 50px;
    border: 5px solid #ededed;
    text-align: center;
}
.community .sub-menu > ul > li {
    display: inline-block;
    padding-left: 25px;
    margin-right: 18px;
}
.community .sub-menu > ul > li > a {
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.community .sub-menu > ul > li > a:hover {
    text-decoration: underline !important;
}
.community .sub-menu > ul > .active > a {
    font-weight: bold;
    color: #79adad;
}
.community .sub-menu > ul > li:last-child {
    margin-right: 0;
}
.community .sub-menu > ul > li:after {
    content: "|";
    margin-left: 18px;
}
.community .sub-menu > ul > li:last-child:after {
    content: "";
    margin-left: 0;
}

.community .sub-menu > ul > li.notice {
    background-image: url(/assets/images/community/notice_btn01_off.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}
.community .sub-menu > ul > li.qna {
    background-image: url(/assets/images/community/notice_btn02_off.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}
.community .sub-menu > ul > li.review {
    background-image: url(/assets/images/community/notice_btn03_off.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 20px;
}
.community .sub-menu > ul > li.event {
    background-image: url(/assets/images/community/notice_btn04_off.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
}
.community .sub-menu > ul > li.sponsorship {
    background-image: url(/assets/images/community/notice_btn05_off.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}


.community.notice .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn01_on.png);
}
.community.notice .notice-list > .table-wrap {
    position: relative;
    padding-top: 100px;
}
.community.notice .notice-list > .table-wrap > .search-form {
    position: absolute;
    top: 50px;
    right: 0;
}
.community.notice .notice-list > .table-wrap > .table {
    margin-bottom: 50px;
}
.community.notice .notice-list > .table-wrap > .table > tbody > tr > td > a:hover {
    text-decoration: underline !important;
}


/* event-write */
.community.event-write .event-info {
    overflow: hidden;
}
.community.event-write .event-info > h2 {
    margin: 50px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: inline-block;
}
.community.event-write .event-info > .sns-menu {
    margin-top: 42px;
    float: right;
    display: inline-block;
}
.community.event-write .event-info > .sns-menu > li {
    display: inline-block;
}
.community.event-write .event-info > .event-view > .event-header {
    padding: 17px 10px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
}
.community.event-write .event-info > .event-view > .event-header > ul > li {
    display: inline-block;
    margin-right: 50px;
}
.community.event-write .inline-dl > dt {
    font-weight: 300;
    font-size: 13px;
    color: #666;
    display: inline-block;
}
.community.event-write .inline-dl > dd {
    font-size: 13px;
    color: #666;
    display: inline-block;
}
.community.event-write .inline-dl > dd:before {
    content: ":";
    padding-right: 3px;
}
.community.event-write .event-info > .event-view > .article-content {
    height: 573px;
    position: relative;
}
.community.event-write .event-info > .event-view > .article-content > .attach {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 17px 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.community.event-write .event-info > .event-view > .article-content > .attach .inline-dl > dd > a:hover {
    text-decoration: underline !important;
}
.community.event-write .event-info > .event-view > .article-content > .attach .inline-dl > dt:after {
    content: ":";
}
.community.event-write .event-info > .event-view > .article-content > .attach .inline-dl > dd:before {
    content: "";
    padding: 0;
}
.community.event-write .event-info > .event-view > .article-content > .attach .inline-dl > dd:after{
    content: ",";
    padding-right: 5px;
}
.community.event-write .event-info > .event-view > .article-content > .attach .inline-dl > dd:last-child:after {
    content: "";
}
.community.event-write .event-info > .event-view > .btn-area {
    margin-top: 18px;
    overflow: hidden;
}
.community.event-write .event-info > .event-view > .btn-area > .first-btn {
    float: left;
}
.community.event-write .event-info > .event-view > .btn-area > .first-btn > .btn {
    width: 80px !important;
    height: 35px !important;
    padding: 8px 0 !important;
}
.community.event-write .event-info > .event-view > .btn-area > .last-btn {
    float: right;
}
.community.event-write .event-info > .event-view > .btn-area > .last-btn > .btn-black {
    width: 100px !important;
    height: 35px !important;
    padding: 8px 0 !important;
    background-color: #222;
    color: #fff;
}
.community.event-write .event-info > .comment {
    margin-top: 100px;
    padding: 35px 30px;
    background-color: #fafafa;
}
.community.event-write .event-info > .comment > h3 {
    font-size: 15px;
    color: #333;
    font-weight: 800;
    margin: 0 0 18px 0;
}
.community.event-write .event-info > .comment > .comment-write {
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #8d8d8d;
}
.community.event-write .event-info > .comment > .comment-write > form > label {
    margin-right: 10px;
    font-size: 12px;
    color: #222;
    font-weight: 300;
}
.community.event-write .event-info > .comment > .comment-write > form > input {
    width: 140px;
    height: 28px;
    margin-right: 25px;
    padding-left: 5px;
    border: 1px solid #dadada;
}
.community.event-write .event-info > .comment > .comment-write > form > textarea {
    float: left;
    width: 960px;
    height: 80px;
    border: 1px solid #dadada;
    margin-top: 10px;
    padding: 5px;
}
.community.event-write .event-info > .comment > .comment-write > form > .btn-area {
    float: left;
    margin: 10px 0 0 10px;
}
.community.event-write .event-info > .comment > .comment-write > form > .btn-area > p {
    margin: 0;
}
.community.event-write .event-info > .comment > .comment-write > form > .btn-area > p > .btn {
    font-size: 14px !important;
    width: 140px !important;
    height: 80px !important;
    padding: 30px 0 !important;
    margin: 0 !important;
    display: inline-block !important;
}
.community.event-write .event-info > .comment > .comment-view > li {
    position: relative;
    padding: 38px 0 27px;
    border-top: 1px solid #dadada;
}
.community.event-write .event-info > .comment > .comment-view > li > p {
    font-size: 12px;
    color: #9b9b9b;
    line-height: 35px;
    padding-left: 10px;
}
.community.event-write .event-info > .comment > .comment-view > li > p:before {
    content: "ã„´";
}
.community.event-write .event-info > .comment > .comment-view > li:first-child {
    border-top: 0;
}
.community.event-write .event-info > .comment > .comment-view > li > h4 {
    font-size: 13px;
    color: #444;
    font-weight: bold;
}
.community.event-write .event-info > .comment > .comment-view > li > h4 > .date {
    color: #9b9b9b;
    font-weight: 300;
}
.community.event-write .event-info > .comment > .comment-view > li > h4 > .date:before {
    content: "(";
}
.community.event-write .event-info > .comment > .comment-view > li > h4 > .date:after {
    content: ")";
}
.community.event-write .event-info > .comment > .comment-view > li > .btn-area {
    position: absolute;
    top: 38px;
    right: 0;
}
.community.event-write .event-info > .comment > .comment-view > li > .btn-area > p > .btn {
    margin-left: 2px !important;
    width: 18px !important;
    height: 18px !important;
    padding: 0 !important;
}
.community.event-write .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}


/* qna-write */
.community.qna-write .write > .table-wrap > .table > tbody > tr:nth-of-type(4) > td > input {
    width: 250px;
    float: left;
}
.community.qna-write .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn02_on.png);
}
/* qna-view */
.community.qna-view .view > .table-wrap > .table > tbody > tr:nth-of-type(7) > td {
    padding: 7px 0 7px 17px !important;
}
.community.qna-view .view > .table-wrap > .table > tbody > tr:nth-of-type(7) > td > input {

    width: 250px;
    height: 30px;
}
.community.qna-view .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn02_on.png);
}


/* confirm-pw */
.community.confirm-pw .confirm > .section-content {
    padding: 196px 0 208px;
}
.community.confirm-pw .confirm > .section-content > .lock-pw {
    text-align: center;
    background-image: url(/assets/images/community/lock.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 95px;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #444;
    padding-bottom: 14px;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > p {
    font-size: 16px;
    color: #666;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > form {
    margin-top: 30px;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > form > input {
    width: 280px;
    height: 35px;
    border: 1px solid #dadada;
    margin-right: 9px;
    vertical-align: top;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > form > .btn-area {
    display: inline-block !important;
}
.community.confirm-pw .confirm > .section-content > .lock-pw > form > .btn-area > p > .btn-green {
    width: 80px !important;
    height: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.community.confirm-pw .sub-menu > ul > .active {
    background-image: url(/assets/images/community/notice_btn03_on.png);
}



















