/* login-공통 (로그인/비회원로그인) */
.member.login .member-login > .section-content {
    padding: 100px 0;
}
.member.login .member-login > .section-content > .login-form {
    width: 570px;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 60px 85px;
}
.member.login .member-login > .section-content > .login-form > .form-group {
    overflow: hidden;
    margin-bottom: 9px;
}
.member.login .member-login > .section-content > .login-form > .form-group > label {
    float: left;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    width: 78px;
    padding-top: 5px;
}
.member.login .member-login > .section-content > .login-form > .form-group > input {
    float: left;
    width: 322px;
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 0;
}
.member.login .member-login > .section-content > .login-form > .btn-area {
    margin: 20px 0 27px;
}
.member.login .member-login > .section-content > .login-form > .btn-area > p > .btn {
    width: 400px !important;
    height: 50px !important;
    font-size: 14px !important;
    padding: 15px 15px !important;
}
.member.login .member-login > .section-content > .login-form > ul {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 23px 0;
    text-align: center;
}
.member.login .member-login > .section-content > .login-form > ul > li {
    display: inline-block;
    padding-right: 16px;
}
.member.login .member-login > .section-content > .login-form > ul > li > a {
    font-size: 13px;
    color: #666;
}
.member.login .member-login > .section-content > .login-form > ul > li:before {
    content: "|";
    padding-right: 16px;
    color: #dadada;
}
.member.login .member-login > .section-content > .login-form > ul > li:first-child:before {
    content: "";
    padding-right: 0;
}
.member.login .member-login > .section-content > .login-form > ul > li:last-child {
    padding-right: 0;
}
/* login */
/* nonmember */
.member.nonmember .member-login > .section-content > .login-form > .btn-area > p > .btn-gray {
    background-color: #c1c1c1;
    color: #fff;
}




/* 아이디비번찾기 공통 (아이디/비번찾기) */
.member.find .member-find > .section-content {
    padding: 100px 0;
}
.member.find .member-find > .section-content > .find-form {
    width: 570px;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 60px 85px;
}
.member.find .member-find > .section-content > .find-form > h2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin: 0;
    padding-bottom: 35px;
}
.member.find .member-find > .section-content > .find-form > .form-group > select {
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    float: left;
    margin-right: 35px;
}
.member.find .member-find > .section-content > .find-form > .form-group {
    overflow: hidden;
    margin-bottom: 9px;
}
.member.find .member-find > .section-content > .find-form > .form-group > label {
    float: left;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    width: 78px;
    padding-top: 5px;
}
.member.find .member-find > .section-content > .find-form > .form-group > input {
    float: left;
    width: 322px;
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 0;
}
.member.find .member-find > .section-content > .find-form > .form-group > .choice {
   float: left;
}
.member.find .member-find > .section-content > .find-form > .form-group > .choice > input {
   display: inline-block;;
}
.member.find .member-find > .section-content > .find-form > .form-group > .choice > label {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    vertical-align: middle;
    margin-top: -2px;
}
.member.find .member-find > .section-content > .find-form > .form-group > .choice > input:nth-of-type(2) {
    margin-left: 19px;
}
.member.find .member-find > .section-content > .find-form > .btn-area {
    margin-top: 20px;
}
.member.find .member-find > .section-content > .find-form > .btn-area > p > .btn {
    width: 400px !important;
    height: 50px !important;
    font-size: 14px !important;
    padding: 15px 15px !important;
}


/* join */
.member.join i {
    font-style: normal;
    font-size: 12px;
    color: #dc1c1c;
    margin-left: 2px;
}
.member.join .join-write > .table-wrap {
    padding-top: 50px;
}
.member.join .join-write > .table-wrap > .join-form > .table {
    margin-bottom: 0;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > th {
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 17px 0 17px 27px;
    vertical-align: top;
    background-color: #f9f9f9;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > th > label {
    font-size: 12px;
    color: #333;
    margin: 0;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #333 !important;
    padding: 8px !important;
    text-align: left !important;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > input {
    border: 1px solid #dadada;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > .type-txt {
    width: 210px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(1) > td {
    overflow: hidden;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(1) > td .type-txt {
    float: left;
    margin-right: 4px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(1) > td > .btn-area {
    float: left;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(1) > td > .btn-area > p > .btn {
    font-size: 11px !important;
    width: 60px !important;
    height: 30px !important;
    padding: 6px 0 !important;
    letter-spacing: 0 !important;
    border-color: #ccc !important;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > .radio {
    display: inline;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > .radio:nth-of-type(2) {
    margin-left: 20px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > label {
    font-size: 12px;
    color: #333;
    margin: 0;
    vertical-align: top;
    margin-top: 2px;
    padding-left: 3px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(5) td {
    padding: 15px 0 15px 8px !important;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > label {
    margin: 7px 15px 0 0;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > label:last-child {
    margin-right: 0;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > .year {
    width: 80px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > .day {
    width: 60px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > .month {
    width: 60px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > .radio {
    margin-top: -1px;
    vertical-align: middle;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(6) > td > label:nth-of-type(3) {
    margin-right: 42px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td {
    position: relative;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > input {
    display: inline-block;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > .addr {
    display: block;
    width: 70px;
    height: 30px;
    margin-right: 4px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > .btn-area {
    position: absolute;
    top: 8px;
    left: 82px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > .btn-area > p > .btn {
    font-size: 11px !important;
    width: 80px !important;
    height: 30px !important;
    padding: 6px 0 !important;
    letter-spacing: 0 !important;
    border-color: #ccc !important;
    display: block !important;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > .address {
    width: 565px;
    height: 30px;
    margin-top: 4px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(7) > td > label {
    vertical-align: top;
    margin-top: 11px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(8) > td > input {
    width: 80px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(9) > td > input {
    width: 80px;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > .email {
    width: 156;
    height: 30px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr:nth-of-type(10) > td > select {
    margin-left: 9px;
}
.member.join .join-write > .table-wrap > .join-form > .table > tbody > tr > td > select {
    width: 80px;
    height: 30px;
    border: 1px solid #dadada;
}
.member.join .join-write > .consent {
    padding-top: 52px;
    overflow: hidden;
}
.member.join .join-write > .consent h3 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding-bottom: 14px;
}
.member.join .join-write > .consent h4 {
    font-size: 12px;
    color: #666;
    line-height: 23px;
    padding: 20px 0 15px 0;
}
.member.join .join-write > .consent p {
    font-size: 12px;
    color: #666;
    line-height: 23px;
}
.member.join .join-write > .consent .attention {
    line-height: 23px;
}
.member.join .join-write > .consent .attention:before {
    content: "※";
}
.member.join .join-write > .consent label {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    vertical-align: top;
    margin-top: 1px;
}
.member.join .circle:before {
    content: "○";
}
.member.join .join-write > .consent > .clause {
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.member.join .join-write > .consent > .clause > p {
    display: inline;
    margin-right: 382px;
}
.member.join .join-write > .consent > .clause > div {
    width: 570px;
    max-height: 160px;
    overflow-y: scroll;
    padding: 25px;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.member.join .join-write > .consent > .privacy {
    overflow: hidden;
    float: left;
}
.member.join .join-write > .consent > .privacy > p {
    display: inline;
    margin-right: 315px;
}
.member.join .join-write > .consent > .privacy > div {
    width: 570px;
    max-height: 160px;
    overflow-y: scroll;
    padding: 25px;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.member.join .join-write > .consent > .privacy > div > h4:before {
    content: "■";
}
.member.join .join-write > .consent > .privacy > div > h4:first-child {
    padding-top: 0;
}

.member.join .circle-list > li {
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    padding-left: 15px;
    counter-increment: my-list-index;
}
.member.join .circle-list > li:before {
    position: absolute;
    left: 0;
    top: 5px;
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #666;
    content: counter(my-list-index);
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    list-style-position: inside;
}
.member.join .decimal-list {
    margin: 10px 0;
}
.member.join .decimal-list > li {
    font-size: 12px;
    color: #666;
    line-height: 23px;
    list-style: decimal;
    list-style-position: inside;
}
.member.join .circle-list > li > .decimal-list > li {
    margin-left: 10px;
    list-style-position: outside;
}

.member.join .join-write > .consent > .privacy > div > .inline-dl {
    overflow: hidden;
}
.member.join .join-write > .consent > .privacy > div > .inline-dl > dt {
    float: left;
    clear: both;
    font-size: 12px;
    color: #666;
    line-height: 23px;
    font-weight: 300;
}
.member.join .join-write > .consent > .privacy > div > .inline-dl > dd {
    font-size: 12px;
    color: #666;
    line-height: 23px;
}
.member.join .join-write > .consent > .privacy > div > .inline-dl > dd:before {
    content: ":";
    padding-left: 3px;
}
.member.join .join-write > .btn-area {
    text-align: center;
    margin-top: 100px;
}
.member.join .join-write > .btn-area > p > .btn {
    display: inline-block !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 13px !important;
    letter-spacing: 0 !important;

}
.member.join .join-write > .btn-area > p > .btn-green {
    margin: 0 10px 0 0 !important;
}


/* success */
.member.success .join-success > .section-content {
    padding-top: 100px;
}
.member.success .join-success > .section-content > h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 42px;
}
.member.success .join-success > .section-content > .member-info {
    overflow: hidden;
    width: 500px;
    padding: 35px 47px;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
}
.member.success .join-success > .section-content > .member-info > p {
    float: left;
    margin-right: 45px;
}
.member.success .join-success > .section-content > p {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin: 37px 0;
}
.member.success .join-success > .section-content > p > strong {
    font-size: 13px;
    color: #030303;
}
.member.success .join-success > .section-content > p > strong:before {
    content: "[";
}
.member.success .join-success > .section-content > p > strong:after {
    content: "]";
}
.member.success .join-success > .section-content > .member-info > .inline-dl {
    overflow: hidden;
}
.member.success .join-success > .section-content > .member-info > .inline-dl > dt {
    float: left;
    width: 73px;
    font-size: 12px;
    color: #222;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.member.success .join-success > .section-content > .member-info > .inline-dl > dd {
    font-size: 12px;
    color: #666;
    line-height: 35px;
}
.member.success .join-success > .section-content > .btn-area {
    text-align: center;
}
.member.success .join-success > .section-content > .btn-area > p > .btn {
    display: inline-block !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 14px 15px !important;
}
.member.success .join-success > .section-content > .btn-area > p > .btn-green {
    margin: 0 10px 0 0 !important;
    width: 160px !important;
    height: 50px !important;
}
.member.success .join-success > .section-content > .btn-area > p > .btn-gray {
    background-color: #b2b2b2;
}


/* success-pw */
.member.success-pw .success > .section-content {
    padding-top: 100px;
}
.member.success-pw .success > .section-content > h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.member.success-pw .success > .section-content > h2 > small {
    font-size: 13px;
    color: #666;
}
.member.success-pw .success > .section-content > .member-info {
    overflow: hidden;
    width: 500px;
    padding: 35px 47px;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
}
.member.success-pw .success > .section-content > .member-info > p {
    float: left;
    margin-right: 45px;
}
.member.success-pw .success > .section-content > p {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin: 37px 0;
}
.member.success-pw .success > .section-content > p > strong {
    font-size: 13px;
    color: #030303;
}
.member.success-pw .success > .section-content > p > strong:before {
    content: "[";
}
.member.success-pw .success > .section-content > p > strong:after {
    content: "]";
}
.member.success-pw .success > .section-content > .member-info > .inline-dl {
    overflow: hidden;
}
.member.success-pw .success > .section-content > .member-info > .inline-dl > dt {
    float: left;
    font-size: 12px;
    color: #222;
    line-height: 25px;
    margin: 0;
    padding: 0 3px 0 0;
}
.member.success-pw .success > .section-content > .member-info > .inline-dl > dd {
    font-size: 12px;
    color: #666;
    line-height: 25px;
}
.member.success-pw .success > .section-content > .btn-area {
    text-align: center;
}
.member.success-pw .success > .section-content > .btn-area > p > .btn {
    display: inline-block !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 14px 15px !important;
}
.member.success-pw .success > .section-content > .btn-area > p > .btn-green {
    margin: 0 !important;
    width: 395px !important;
    height: 50px !important;
}





















