/* mypage */
.membership.mypage .my-menu > .my-content {
    margin-top: 48px;
    border: 5px solid #ededed;
    padding: 16px 37px;
}
.membership.mypage .my-menu > .my-content > ul > li {
    display: inline-block;
    border-right: 1px solid #dadada;
    width: 540px;
}
.membership.mypage .my-menu > .my-content > ul > li:first-child {
     padding-right: 26px;
}
.membership.mypage .my-menu > .my-content > ul > li:last-child {
    border: 0;
    padding-left: 37px;
    vertical-align: top;
}
.membership.mypage .my-menu > .my-content > ul > li > .inline-dl {
    overflow: hidden;
}
.membership.mypage .my-menu > .my-content > ul > li > .inline-dl > dt {
    float: left;
    clear: both;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 11px;
    background-image: url(/assets/images/membership/arrow_bg.png);
    background-repeat: no-repeat;
    background-position: 0 11px;
}
.membership.mypage .my-menu > .my-content > ul > li > .inline-dl > dd {
    font-size: 12px;
    color: #333;
    line-height: 28px;
    float: right;
    padding-right: 55px;
}
.membership.mypage .my-menu > .my-content > ul > li:nth-of-type(1) > .inline-dl > dd:nth-of-type(1) {
    position: relative;
}
.membership.mypage .my-menu > .my-content > ul > li > .inline-dl > dd > .btn-area {
    position: absolute;
    top: 0;
    right: 0;
}
.membership.mypage .my-menu > .my-content > ul > li:nth-of-type(2) > .inline-dl > dd:nth-of-type(1) {
    position: relative;
}
.membership.mypage .my-menu > .my-content > ul > li:nth-of-type(2) > .inline-dl > dd:nth-of-type(2) {
    position: relative;
}
.membership.mypage .my-menu > .my-content > ul > li:nth-of-type(2) > .inline-dl > dd:nth-of-type(1) > .btn-area > .btn {
    position: absolute;
    top: 0;
    right: 0;
}
.membership.mypage .my-menu > .my-content > ul > li:nth-of-type(2) > .inline-dl > dd:nth-of-type(2) > .btn-area > .btn {
    position: absolute;
    top: 0;
    right: 0;
}
.membership.mypage .my-menu > .my-content > ul > li > .inline-dl > dd > .btn-area > p > .btn {
    margin-left: 10px;
    padding: 4px 0 !important;
    width: 45px !important;
    height: 25px !important;
    border-color: #dadada !important;
}
.membership.mypage .my-menu > .my-list {
    margin-top: 30px;
}
.membership.mypage .my-menu > .my-list > li {
    display: inline-block;
    width: 270px;
    border: 1px solid #dadada;
    text-align: center;
    margin-right: 26px;
}
.membership.mypage .my-menu > .my-list > li > a > h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}
.membership.mypage .my-menu > .my-list > li > a {
    width: 270px;
    padding: 98px 1px 28px 1px;
    display: block;
}
.membership.mypage .my-menu > .my-list > li > a > p {
    font-size: 12px;
    color: #666;
    padding-top: 7px;
}
.membership.mypage .my-menu > .my-list > li:hover {
    border: 2px solid #99cccc;
}
.membership.mypage .my-menu > .my-list > li:hover > a {
    padding: 97px 3px 27px 1px;
}
.membership.mypage .my-menu > .my-list > li:hover > a > h2 {
    color: #99cccc;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(1) {
    background-image: url(/assets/images/membership/mylist_bg01.png);
    background-repeat: no-repeat;
    background-position: 50% 36px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(1):hover {
    background-position: 50% 35px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(2) {
    background-image: url(/assets/images/membership/mylist_bg02.png);
    background-repeat: no-repeat;
    background-position: 50% 32px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(2):hover {
    background-position: 50% 31px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(3) {
    background-image: url(/assets/images/membership/mylist_bg03.png);
    background-repeat: no-repeat;
    background-position: 50% 36px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(3):hover {
    background-position: 50% 35px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(4) {
    background-image: url(/assets/images/membership/mylist_bg04.png);
    background-repeat: no-repeat;
    background-position: 50% 36px;
    margin-right: 0;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(4):hover {
    background-position: 50% 35px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(5) {
    background-image: url(/assets/images/membership/mylist_bg05.png);
    background-repeat: no-repeat;
    background-position: 50% 42px;
    margin-top: 29px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(5):hover {
    background-position: 50% 41px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(6) {
    background-image: url(/assets/images/membership/mylist_bg06.png);
    background-repeat: no-repeat;
    background-position: 50% 34px;
    margin-top: 29px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(6):hover {
    background-position: 50% 33px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(7) {
    background-image: url(/assets/images/membership/mylist_bg07.png);
    background-repeat: no-repeat;
    background-position: 50% 34px;
    margin-top: 29px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(7):hover {
    background-position: 50% 33px;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(8) {
    background-image: url(/assets/images/membership/mylist_bg08.png);
    background-repeat: no-repeat;
    background-position: 50% 32px;
    margin: 29px 0 0 0;
}
.membership.mypage .my-menu > .my-list > li:nth-of-type(8):hover {
    background-position: 50% 31px;
}

/* mylist */
.membership.mylist .inquiry {
    overflow: hidden;
}
.membership.mylist .inquiry > .my-menu {
    margin-top: 50px;
    border-bottom: 1px solid #222;
    overflow: hidden;
}
.membership.mylist .inquiry > .my-menu > li {
    display: inline-block;
    width: 169px;
    height: 45px;
    text-align: center;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    float: left;
}
.membership.mylist .inquiry > .my-menu > li > a {
    color: #666;
    font-size: #666;
    display: block;
    padding: 13px 0;
}
.membership.mylist .inquiry > .my-menu > .active {
    background-color: #222;
    border: 1px solid #222;
}
.membership.mylist .inquiry > .my-menu > .active > a {
    color: #fff;
}
.membership.mylist .inquiry > .order {
    width: 1170px;
    border: 5px solid #ededed;
    padding: 23px 26px;
    margin: 30px 0 50px;
}
.membership.mylist .inquiry > .order > ul {
    overflow: hidden;
    margin-right: 30px;
    float: left;
}
.membership.mylist .inquiry > .order > ul > li {
    float: left;
    width: 40px;
    height: 27px;
    margin-left: -1px;
    text-align: center;
    border: 1px solid #dadada;
}
.membership.mylist .inquiry > .order > ul > li:first-child {
    margin-left: 0;
}
.membership.mylist .inquiry > .order > ul > li > a {
    font-size: 11px;
    color: #666;
    display: block;
    padding: 4px 0;
}
.membership.mylist .inquiry > .order > ul > .active {
    background-color: #666;
}
.membership.mylist .inquiry > .order > ul > .active > a {
    color: #fff;
}
.membership.mylist .inquiry > .order > .calendar {
    position: relative;
}
.membership.mylist .inquiry > .order > .calendar > input {
    width: 100px;
    height: 27px;
    border: 1px solid #dadada;
    margin-right: 4px;
    padding: 6px 11px;
}
.membership.mylist .inquiry > .order > .calendar > input:nth-of-type(2) {
    margin-left: 10px;
}
.membership.mylist .inquiry > .order > .calendar > label:nth-of-type(1) {
    margin-right: 8px;
}
.membership.mylist .inquiry > .order > .calendar > label:hover {
    cursor: pointer;
}
.membership.mylist .inquiry > .order > .calendar > .btn-area {
    position: absolute;
    top: 0;
    left: 518px;
}
.membership.mylist .inquiry > .order > .calendar > .btn-area > p > .btn {
    font-size: 11px !important;
    width: 45px !important;
    height: 27px !important;
    padding: 5px 0 !important;
    border-radius: 4px !important;
}
.membership.mylist .table-wrap {
    border-top: 1px solid #858585;
}
.membership.mylist .table-wrap > .table-border {
    border-top: 0 !important;
}
.membership.mylist .table-wrap > .table > thead > tr > th {
    vertical-align: middle !important;
    font-size: 12px !important;
    color: #333 !important;
    border-right: 1px solid #dadada;
    line-height: 18ppx  !important;
}
.membership.mylist .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.mylist .table-wrap > .table > tbody > tr > td {
    vertical-align: middle !important;
    font-size: 12px !important;
    color: #333 !important;
    border-right: 1px solid #dadada;
    line-height: 20ppx;
    text-align: center;
}
.membership.mylist .table-wrap > .table > tbody > tr:nth-of-type(1) td > .btn-area > p > .btn {
    width: 100px !important;
    height: 30px !important;
    margin: 5px 0 0 0 !important;
    padding: 5px 0 !important;
    border-color: #dadada !important;
}
.membership.mylist .table-wrap > .table > tbody > tr > td > a:hover {
    text-decoration: underline !important;
}
.membership.mylist .table-wrap > .table > tbody > tr > td > a > img {
    width: 110px;
    height: 130px;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(2) {
    padding: 8px !important;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) {
    padding: 19px 15px !important;
    vertical-align: top !important;
    text-align: left !important;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl {
    margin-top: 5px;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: 300;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt:before {
    content: "[";
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:before {
    content: ":";
    padding-right: 3px;
}
.membership.mylist .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:after {
    content: "]";
}


/* confirm */
.membership.confirm .confirm-list > .order-info {
    margin-top: 50px;
}
.membership.confirm .table {
    margin-bottom: 0;
}
.membership.confirm .confirm-list h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding-bottom: 10px;
}
.membership.confirm .confirm-list > .order-info > .table-wrap > .table > tbody > tr > th {
    font-size: 12px !important;
    color: #333 !important;
    border-bottom: 1px solid #dadada;
    padding: 18px 22px !important;
    text-align: left !important;
    background-color: #fafafa;
}
.membership.confirm .confirm-list > .order-info > .table-wrap > .table > tbody > tr:nth-of-type(1) th,td {
    border-top: 1px solid #333 !important;
}
.membership.confirm .confirm-list > .order-info > .table-wrap > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #666 !important;
    padding: 18px 22px !important;
    text-align: left !important;
}
.membership.confirm .confirm-list > .payment-info {
    margin-top: 50px;
}
.membership.confirm .confirm-list > .payment-info > .table-wrap > .table > tbody > tr > th {
    font-size: 12px !important;
    color: #333 !important;
    border-bottom: 1px solid #dadada;
    padding: 18px 22px !important;
    text-align: left !important;
    background-color: #fafafa;
}
.membership.confirm .confirm-list > .payment-info > .table-wrap > .table > tbody > tr:nth-of-type(1) th,td {
    border-top: 1px solid #333 !important;
}
.membership.confirm .confirm-list > .payment-info > .table-wrap > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #666 !important;
    padding: 18px 22px !important;
    text-align: left !important;
}
.membership.confirm .confirm-list > .payment-info > .table-wrap > .table > tbody > tr:nth-of-type(2) > td {
    color: #d41010 !important;
}
.membership.confirm .confirm-list > .product-info {
    margin-top: 50px;
}
.membership.confirm .confirm-list > .product-info > .table-wrap {
    border-top: 1px solid #333;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table {
    border-top: 0 !important;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > thead > tr > th {
    border-right: 1px solid #dadada;
    font-size: 12px !important;
    color: #333 !important;
    font-weight: bold;
    padding: 17px 0 !important;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #666 !important;
    vertical-align: middle !important;
    border-right: 1px solid #dadada;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td > a > img {
    width: 85px;
    height: 105px;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) {
    padding: 7px !important;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) {
    padding: 18px 13px !important;
    text-align: left;
    vertical-align: top !important;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr:nth-of-type(2) > td {
    text-align: right !important;
    padding: 20px 16px !important;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr:nth-of-type(2) > td > strong {
    font-size: 18px;
    color: #3a3a3a;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td .inline-dl {
    margin-top: 5px;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td  > .inline-dl > dt {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: 300;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td  > .inline-dl > dt:before {
    content: "[";
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td  > .inline-dl > dd {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td  > .inline-dl > dd:before {
    content: ":";
    padding-right: 3px;
}
.membership.confirm .confirm-list > .product-info > .table-wrap > .table > tbody > tr > td  > .inline-dl > dd:after {
    content: "]";
}
.membership.confirm .confirm-list > .delivery-info {
    margin-top: 50px;
}
.membership.confirm .confirm-list > .delivery-info > .table-wrap > .table > tbody > tr > th {
    font-size: 12px !important;
    color: #333 !important;
    border-bottom: 1px solid #dadada;
    padding: 18px 22px !important;
    text-align: left !important;
    background-color: #fafafa;
}
.membership.confirm .confirm-list > .delivery-info > .table-wrap > .table > tbody > tr:nth-of-type(1) th,td {
    border-top: 1px solid #333 !important;
}
.membership.confirm .confirm-list > .delivery-info > .table-wrap > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #666 !important;
    padding: 18px 22px !important;
    text-align: left !important;
}



/**/
.membership.modify i {
    font-style: normal;
    font-size: 12px;
    color: #dc1c1c;
    margin-left: 2px;
}
.membership.modify .member-modify > .table-wrap {
    margin-top: 50px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table {
    margin-bottom: 0;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > th {
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 17px 0 17px 27px;
    vertical-align: top;
    background-color: #f9f9f9;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > th > label {
    font-size: 12px;
    color: #333;
    margin: 0;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td {
    font-size: 12px !important;
    color: #333 !important;
    padding: 8px !important;
    text-align: left !important;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > input {
    border: 1px solid #dadada;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(1) > td {
    border-top: 1px solid #dadada !important;
    vertical-align: middle;
    padding-left: 10px !important;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > .radio {
    display: inline;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > .radio:nth-of-type(2) {
    margin-left: 20px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > label {
    font-size: 12px;
    color: #333;
    margin: 0;
    vertical-align: top;
    margin-top: 2px;
    padding-left: 3px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(5) td {
    padding: 15px 0 15px 8px !important;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > label {
    margin: 7px 15px 0 0;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > label:last-child {
    margin-right: 0;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > .year {
    width: 80px;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > .day {
    width: 60px;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > .month {
    width: 60px;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > .radio {
    margin-top: -1px;
    vertical-align: middle;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(6) > td > label:nth-of-type(3) {
    margin-right: 42px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td {
    position: relative;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > input {
    display: inline-block;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > .addr {
    display: block;
    width: 70px;
    height: 30px;
    margin-right: 4px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > .btn-area {
    position: absolute;
    top: 8px;
    left: 82px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > .btn-area > p > .btn {
    font-size: 11px !important;
    width: 80px !important;
    height: 30px !important;
    padding: 6px 0 !important;
    letter-spacing: 0 !important;
    border-color: #ccc !important;
    display: block !important;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > .address {
    width: 565px;
    height: 30px;
    margin-top: 4px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(7) > td > label {
    vertical-align: top;
    margin-top: 11px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(8) > td > input {
    width: 80px;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(9) > td > input {
    width: 80px;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > .email {
    width: 156;
    height: 30px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr:nth-of-type(10) > td > select {
    margin-left: 9px;
}
.membership.modify .member-modify > .table-wrap > .modify-form > .table > tbody > tr > td > select {
    width: 80px;
    height: 30px;
    border: 1px solid #dadada;
}
.membership.modify .member-modify > .btn-area {
    text-align: center;
    margin-top: 100px;
}
.membership.modify .member-modify > .btn-area > p > .btn {
    display: inline-block !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 13px !important;
    letter-spacing: 0 !important;

}
.membership.modify .member-modify > .btn-area > p > .btn-green {
    margin: 0 10px 0 0 !important;
}


/* saved-money */
.membership.saved-money .container {
    padding-bottom: 245px !important;
}
.membership.saved-money .my-money > .money-info {
    margin-top: 50px;
    padding: 14px 28px;
    border: 5px solid #ededed;
}
.membership.saved-money .my-money > .money-info > ul > li {
    width: 365px;
    padding: 15px 29px 15px 27px;
    border-right: 1px solid #dadada;
    display: inline-block;
}
.membership.saved-money .my-money > .money-info > ul > li:first-child {
    padding-left: 0;
}
.membership.saved-money .my-money > .money-info > ul > li:last-child {
    border-right: 0;
    padding-right: 0;
}
.membership.saved-money .my-money > .money-info > ul > li > .inline-dl {
    overflow: hidden;
}
.membership.saved-money .my-money > .money-info > ul > li > .inline-dl > dt {
    float: left;
    clear: both;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 11px;
    background-image: url(/assets/images/membership/arrow_bg.png);
    background-repeat: no-repeat;
    background-position: 0 11px;
}
.membership.saved-money .my-money > .money-info > ul > li > .inline-dl > dd {
    font-size: 12px;
    color: #333;
    line-height: 28px;
    float: right;
}
.membership.saved-money .my-money > .table-wrap {
    margin-top: 50px;
    border-top: 1px solid #333;
}
.membership.saved-money .my-money > .table-wrap > .table-border {
    border-top: 0 !important;
}
.membership.saved-money .my-money > .table-wrap > .table > thead > tr > th {
    border-right: 1px solid #dadada;
}
.membership.saved-money .my-money > .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.saved-money .my-money > .table-wrap > .table > tbody > tr > td {
    border-right: 1px solid #dadada;
    text-align: center !important;
}
.membership.saved-money .my-money > .table-wrap > .table > tbody > tr > td:nth-of-type(2) {
    padding-left: 0 !important;
}
.membership.saved-money .my-money > .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
    padding-left: 16px !important;
    text-align: left !important;
}


/* interest-product */
.membership.interest-product .interest > .table-wrap {
    margin-top: 50px;
    border-top: 1px solid #333;
}
.membership.interest-product .interest > .table-wrap > .table {
    border-top: 0 !important;
    margin-bottom: 15px;
}
.membership.interest-product .interest > .table-wrap > .table > thead > tr > th {
    border-right: 1px solid #dadada;
}
.membership.interest-product .interest > .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td {
    border-right: 1px solid #dadada;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td > a > img {
    width: 85px;
    height: 105px;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td {
    vertical-align: middle;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(2) {
    padding: 7px !important;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) {
    text-align: left !important;
    padding: 20px 12px !important;
    vertical-align: top;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:last-child {
    padding: 10px 22px !important;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:last-child > .btn-area > p > .btn {
    width: 80px !important;
    height: 30px !important;
    padding: 6px 0 !important;
    margin: 0 0 4px 0 !important;
    border-color: #dadada !important;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl {
    margin-top: 5px;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: 300;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt:before {
    content: "[";
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:before {
    content: ":";
    padding-right: 3px;
}
.membership.interest-product .interest > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:after {
    content: "]";
}





.membership.interest-product .interest > .btn-area {
    overflow: hidden;
}
.membership.interest-product .interest > .btn-area > .first-btn {
    float: left;
    font-size: 12px;
    color: #222;
}
.membership.interest-product .interest > .btn-area > .first-btn > .btn {
    height: 28px !important;
    padding: 5px 0 !important;
    font-size: 12px !important;
}
.membership.interest-product .interest > .btn-area > .first-btn > .btn:nth-of-type(1) {
    width: 60px !important;
    margin-left: 5px !important;
}
.membership.interest-product .interest > .btn-area > .first-btn > .btn:nth-of-type(2) {
    width: 90px !important;
}
.membership.interest-product .interest > .btn-area > .last-btn {
    float: right;
}
.membership.interest-product .interest > .btn-area > .last-btn > .btn {
    width: 150px !important;
    height: 50px !important;
    display: inline-block !important;
    margin: 0 !important;
    font-size: 13px !important;
}
.membership.interest-product .interest > .btn-area > .last-btn > .btn-green {
    margin-right: 10px !important;
}


/* bascat */
.membership.bascat .bascat-info > .table-wrap {
    margin-top: 50px;
    border-top: 1px solid #333;
}
.membership.bascat .bascat-info > .table-wrap > .table {
    border-top: 0 !important;
    margin-bottom: 0 !important;
}
.membership.bascat .bascat-info > .table-wrap > .table {
    border-top: 0 !important;
    margin-bottom: 15px;
}
.membership.bascat .bascat-info > .table-wrap > .table > thead > tr > th {
    border-right: 1px solid #dadada;
}
.membership.bascat .bascat-info > .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td {
    border-right: 1px solid #dadada;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td > a > img {
    width: 85px;
    height: 105px;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td {
    vertical-align: middle;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(2) {
    padding: 7px !important;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) {
    text-align: left !important;
    padding: 20px 12px !important;
    vertical-align: top;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:last-child {
    padding: 10px 22px !important;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:last-child > .btn-area > p > .btn {
    width: 80px !important;
    height: 30px !important;
    padding: 6px 0 !important;
    margin: 0 0 4px 0 !important;
    border-color: #dadada !important;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl {
    margin-top: 5px;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: 300;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dt:before {
    content: "[";
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:before {
    content: ":";
    padding-right: 3px;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(3) > .inline-dl > dd:after {
    content: "]";
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(5) {
    padding: 0 11px !important;
    vertical-align: middle !important;
}
.membership.bascat .bascat-info > .table-wrap > .table > tbody > tr > td:nth-of-type(5) > .btn-area > p > .btn  {
    width: 55px !important;
    height: 27px !important;
    padding: 5px 0!important;
    margin-top: 4px !important;
    border-color: #dadada !important;
}
.membership.bascat .bascat-info > .table-wrap > p {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-size: 12px;
    color: #666;
    width: 100%;
    padding: 23px 15px;
    background-color: #fafafa;
}
.membership.bascat .bascat-info > .table-wrap > p > strong {
    font-size: 18px;
    color: #333;
}
.membership.bascat .bascat-info > .btn-area > .first-btn {
    margin-top: 15px;
    color: #333;
}
.membership.bascat .bascat-info > .btn-area > .first-btn > .btn {

    width: 60px !important;
    height: 28px !important;
    padding: 5px 0!important;
}
.membership.bascat .bascat-info > .btn-area > .last-btn {
    text-align: center;
    margin-top: 60px;
}
.membership.bascat .bascat-info > .btn-area > .last-btn > .btn {
    display: inline-block !important;
    width: 150px !important;
    height: 50px !important;
    margin: 0 !important;
}
.membership.bascat .bascat-info > .btn-area > .last-btn > .btn-green {
    margin-right: 10px !important;
}



/* coupon */
.membership.coupon .my-coupon > h2 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
    padding-bottom: 10px;
}
.membership.coupon .my-coupon > .register {
    background-color: #f6f9f9;
    border: 1px solid #dadada;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 50px;
}
.membership.coupon .my-coupon > .register > input {
    width: 325px;
    height: 40px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #dadada;
}
.membership.coupon .my-coupon > .register > p {
    display: inline;
}
.membership.coupon .my-coupon > .register > p > .btn {
    width: 120px;
    height: 40px;
    background-color: #99cccc;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 10px 0;
}
.membership.coupon .my-coupon > .table-wrap {
    border-top: 1px solid #333;
}
.membership.coupon .my-coupon > .table-wrap > .table {
    margin-bottom: 0 !important;
}
.membership.coupon .my-coupon > .table-wrap > .table-border {
    border-top: 0 !important;
}
.membership.coupon .my-coupon > .table-wrap > .table > thead > tr > th {
    border-right: 1px solid #dadada;
}
.membership.coupon .my-coupon > .table-wrap > .table > thead > tr > th:last-child {
    border-right: 0;
}
.membership.coupon .my-coupon > .table-wrap > .table > tbody > tr > td {
    border-right: 1px solid #dadada;
}
.membership.coupon .my-coupon > .table-wrap > .table > tbody > tr > td:last-child {
    border-right: 0;
}
.membership.coupon .my-coupon > nav {
    margin-top: 50px;
}


/* payment */
.membership.payment .bascat-info > .table-wrap > p:first-child {
    border-bottom: 1px solid #dadada;
}
.membership.payment .bascat-info > .table-wrap > p:last-child {
    font-size: 12px;
    color: #666;
    padding: 20px 10px;
    background-color: #fff;
    text-align: left;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.membership.payment .bascat-info > .table-wrap > p:last-child:before {
    content: "!";
    padding-right: 5px;
}










































