#content .container {
    padding: 65px 15px 100px 15px;
}
#content .container a {
    text-decoration: none;
}
#content .container a:hover {
    opacity: 0.8;
}
#content .container > section .section-header {
    border-bottom: 1px solid #e9e9e9;
}
#content .container > section .section-header h1 {
    display: inline-block;
    font-size: 24px;
    color: #222;
    border-bottom: 2px solid #222;
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
}
#content .container .nav.nav-pills {
    text-align: center;
}
#content .container .nav.nav-pills > li {
    display: inline-block;
    width: 165px;
    height: 40px;
}
#content .container .nav.nav-pills > li {
    margin-right: 9px !important;
}
#content .container .nav.nav-pills > li:last-child {
    margin-right: 0;
}
#content .container .nav.nav-pills > li > a {
    width: 165px;
    height: 40px;
    border-radius: 0;
    border: 1px solid #e4e4e4;
    display: inline-block;
    font-size: 14px;
    color: #666;
}
#content .container .nav.nav-pills > .active > a {
    background-color: #99cccc;
    border: 1px solid #99cccc;
    font-size: 14px;
    color: #fff;
}
#content .container .search-form .form-group .form-control {
    font-size: 12px;
    color: #666;
    width: 80px;
    height: 32px;
    display: inline-block;
    border-radius: 0;
}
#content .container .search-form > form {
    position: relative;
    width: 328px;
    height: 32px;
}
#content .container .search-form > form > .form-group > input {
    width: 190px !important;
    height: 32px;
}
#content .container .search-form > form > .form-group > select {
    margin-right: 9px;
}
#content .container .search-form > form > button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    width: 50px;
    height: 32px;
    border-radius: 0;
    background-color: #99cc99;
}
#content .container .btn-area .btn {
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 0;
    width: 150px;
    height: 50px;
    font-size: 12px;
    padding: 16px 15px;
    font-weight: 600;
}
#content .container .btn-area .btn-green {
    width: 470px;
    height: 50px;
    background-color: #99cc99;
    color: #fff;
    border-radius: 0;
    display: block;
    margin-bottom: 8px;
}
#content .container .btn-area .btn-white {
    background-color: #fff;
    border: 1px solid #6b6b6b;
    color: #222;
    border-radius: 0;
    margin-right: 7px;
}
#content .container .btn-area .btn-white:last-child {
    margin-right: 0;
}
#content .container .btn-area .like-btn:before {
    content: "♥";
}
#content .container .table-wrap .table-border {
    border-top: 1px solid #333;
}
#content .container .table-wrap .table thead tr th {
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #dadada;
    color: #333;
    padding: 17px 0;
}
#content .container .table-wrap .table tbody tr td {
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #dadada;
    color: #333;
    padding: 17px 0;
    text-align: center;
}
#content .container .table-wrap .table tbody tr td:nth-of-type(2) {
    padding-left: 20px;
    text-align: left;
}
#content .container .menu-list {
    border-bottom: 1px solid #dadada;
    text-align: center;
}
#content .container .menu-list > li {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: #666;
    padding-bottom: 12px;
    margin-right: 50px;
}
#content .container .menu-list > li:before {
    position: absolute;
    top: 0;
    left: -28px;
    content: "|";
    margin-right: 15px;
}
#content .container .menu-list > li:first-child:before {
    content: "";
}
#content .container .menu-list > li:last-child {
    margin-right: 0;
}
#content .container .menu-list > .active {
    border-bottom: 3px solid #333;
}
#content .container nav {
    text-align: center;
}
#content .container nav .pagination {
    margin: 0;
}
#content .container .pagination li > a {
    color: #666;
    font-size: 13px;
}
#content .container .pagination li:nth-of-type(2) a {
    padding: 6px 10px;
}
#content .container .pagination li:nth-of-type(8) a {
    padding: 6px 10px;
}
#content .container .pagination li:first-child > a {
    border-radius: 0;
    padding: 6px 10px;
}
#content .container .pagination li:last-child > a {
    border-radius: 0;
    padding: 6px 10px;
}
#content .container .lable-wrap {
    margin-top: 5px;
}
#content .container .lable-wrap > .lable {
    width: 33px;
    height: 14px;
    display: inline-block;
    border-radius: 3px;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    border: 1px solid #494949;
}
#content .container .lable-wrap .lable:last-child {
    margin-right: 0;
}
#content .container .lable-wrap .lable-green {
    background-color: #99cccc !important;
    color: #fff;
    border-color: #99cccc;
}
#content .container .lable-wrap .lable-white {
    color: #333;
    background-color: #fff;
}
#content .container .count {
    position: relative;
    width: 55px;
    height: 26px;
    border: 1px solid #ccc;
    padding: 3px 0 0 6px;
    color: #000;
    font-size: 11px;
}
#content .container .count > button {
    position: absolute;
    width: 18px;
    height: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 12px;
}
#content .container .count > .top {
    top: -1px;
    right: -1px;
}
#content .container .count > .down {
    top: 12px;
    right: -1px;
    border-top: 0;
}
#content .container .place {
    font-size: 12px;
    color: #666;
    font-weight: 700;
    letter-spacing: -1px;
}
#content .container .account {
    font-size: 11px;
    color: #7c7c7c;
}







/* search-result */
.search-result .container .search .detailed-search {
    position: relative;
    height: 160px;
    border: 3px solid #e8e8e8;
    background-image: url(/assets/images/sub/search_bg.jpg);
    padding: 44px 73px;
    margin: 31px 0 50px 0;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl {
    overflow: hidden;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dt {
    display: inline;
    float: left;
    font-size: 13px;
    width: 96px;
    color: #666;
    line-height: 35px;
    font-weight: 300;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dt:nth-of-type(3) {
    clear: left;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd {
    display: inline;
    float: left;
    line-height: 35px;
    color: #333;
    margin-right: 32px;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd:nth-of-type(2) {
    margin-right: 0;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd:nth-of-type(4) {
    margin-right: 0;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > select {
    width: 324px;
    height: 30px;
    border: 1px solid #e6e6e6;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > .terms-select {
    width: 95px;
    height: 30px;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > input {
    width: 150px;
    height: 30px;
    border: 1px solid #e6e6e6;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > input:nth-of-type(1) {
    margin-right: 5px;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > input:last-child {
    margin-left: 5px;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > .terms {
    width: 221px;
    height: 30px;
    margin: 0 0 0 5px;
    border: 1px solid #e6e6e6;
}
.search-result .container .search .detailed-search > .search-form > .inline-dl > dd > .count {
    line-height: 18px;
}
.search-result .container .search .detailed-search > .search-form > .btn-area > p > .btn {
    position: absolute;
    top: 47px;
    right: 69px;
    font-size: 14px !important;
    width: 130px !important;
    height: 64px !important;
    padding: 20px 15px !important;
}






.search-result .container .search > .result-list {
    position: relative;
    padding-top: 50px;
    background-image: url(/assets/images/sub/line_bg.png);
    background-position: top;
    background-repeat: repeat-x;

}
.search-result .container .search > .result-list > .result-text {
    position: absolute;
    top: 20px;
    left: 0;
}
.search-result .container .search > .result-list > .terms-list {
    position: absolute;
    top: 20px;
    right: 0;
}
.search-result .container .search > .result-list > .terms-list > li {
    font-size: 12px;
    color: #666;
    text-align:center;
    display: inline-block;
}
.search-result .container .search > .result-list > .terms-list > li:before {
    content: "|";
    padding: 0 10px;
}
.search-result .container .search > .result-list > .terms-list > li:first-child:before {
    content: "";
    padding-left: 0;
}
.search-result .container .search > .result-list > .terms-list > .active {
    font-weight: bold;
}
.search-result .container .search > .result-list > .product-item > li {
    margin: 0 26px 30px 0 ;
    display: inline-block;
    vertical-align: top;
}
.search-result .container .search > .result-list > .product-item > li:nth-of-type(4) {
    margin-right: 0;
}
.search-result .container .search > .result-list > .product-item > li:nth-of-type(8) {
    margin-right: 0;
}
.search-result .container .search > .result-list > .product-item > li:nth-of-type(12) {
    margin-right: 0;
}
.search-result .container .search > .result-list > .product-item > li:nth-of-type(16) {
    margin-right: 0;
}
.search-result .container .search > .result-list > .product-item > li > a {
    text-decoration: none;
}
.search-result .container .search > .result-list > .product-item > li > a > h4 {
    font-size: 12px;
    color: #666;
    margin: 0;
    padding: 18px 0 4px 0;
    font-weight: 600;
}
.search-result .container .search > .result-list > .product-item > li > a > p {
    font-size: 12px;
    color: #666;
    font-weight: 600;
    letter-spacing: -1px;
}
.search-result .container .search > .result-list > nav > .pagination {
    padding-top: 20px;
}


















