@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.roboto {
    font-family: 'Roboto', sans-serif;
}
.roman {
    font-family: 'Times New Roman', serif;
}
body {
    min-width: 320px;
    font-size: 10px;
    color: #333;
    font-weight: 300;
    font-family: 'Nanum Gothic', serif;
}
address, p, dl {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        margin-left: -10px;
        margin-right: -10px;
        @for $i from 1 through 12 {
            .col-xs-#{$i} {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

#header {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
    .btn-menu {
        position: absolute;
        top: 5.66px;
        left: 1px;
        padding: 10px;
        border-radius: 0;
        background-color: #fff;
        .bar {
            display: block;
            width: 20px;
            border-top: 2px solid #606060;
            border-radius: 5px;
            margin-top: 6px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    h1 {
        padding-top: 16.6px;
        display: block;
        width: 106px;
        margin: 0 auto;
        img {
            display: block;
            width: 106px;
        }
    }
    .btn-cart {
        position: absolute;
        top: 5.66px;
        right: 1px;
        padding: 10px;
        border-radius: 0;
        background-color: #fff;

        .cart {
            display: block;
            width: 21px;
            height: 17px;
            background-image: url(/mobile/images/main/cart_btn.png);
            background-repeat: no-repeat;
            background-size: 21px auto;
            background-position: 50% 50%;
        }
    }
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .6);
    z-index: 900;
    .nav-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 901;
    }
    .nav-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
        height: 100%;
        background-color: #fff;
        transition: all .3s;
        z-index: 910;
        .btn-nav-close {
            position: absolute;
            top: 0;
            right: -50px;
            padding: 13px;
            min-width: 50px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            img {
                width: 23px;
                height: 23.66px;

            }
        }
        .nav-content {
            overflow: scroll;
            height: 100%;
            .nav-head {
                h1 {
                    width: 100%;
                    text-align: left;
                    background-color: #1f1f1f;
                    padding: 14.66px 0 14.66px 10px;
                    img {
                        display: block;
                        width: 106.33px;
                    }
                }
                .quick-menu {
                    width: 100%;
                    padding: 20px 10px 16.6px;
                    .search-form {
                        position: relative;
                        .form-control {
                            height: 30px;
                            font-size: 12px;
                            color: #666;
                            padding-right: 30px;
                            box-shadow: none;
                            border-radius: 0;
                            border: 1px solid #c3c3c3;
                            &:hover,
                            &:focus {
                                border-color: #c3c3c3;
                            }
                        }
                        .btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 4.5px;
                            margin: 1px;
                            border-radius: 0;
                            background-color: #fff;
                            span {
                                display: block;
                                width: 17px;
                                height: 17px;
                                background-image: url(/mobile/images/main/search_btn.gif);
                                background-repeat: no-repeat;
                                background-size: 17px 17px;
                                background-position: 50% 50%;
                            }
                        }
                    }
                    .btn-area {
                        margin-top: 10px;
                        margin-bottom: 16.66px;
                        p {
                            .btn {
                                display: inline-block;
                                width: 117.66px;
                                height: 30px;
                                font-size: 11.33px;
                                text-align: center;
                                padding: 0;
                                line-height: 30px;
                                border-radius: 0;
                            }
                            .btn-gray {
                                color: #4b4b4b;
                                margin-right: 11px;
                                background-color: #dddddd;
                            }
                            .btn-charcoal {
                                color: #fff;
                                background-color: #575757;
                            }
                        }
                    }
                    ul {
                        overflow: hidden;
                        li {
                            position: relative;
                            float: left;
                            width: 50%;
                            text-align: center;
                            line-height: 27.3px;
                            padding-top: 17.33px;
                            background-image: url(/mobile/images/main/quick_btn01.gif);
                            background-repeat: no-repeat;
                            background-size: 18px 17.33px;
                            background-position: 50% 2px;
                            &:after {
                                position: absolute;
                                bottom: 10px;
                                right: -1.5px;
                                content: "|";
                                color: #e3e3e3;
                                font-size: 20px;
                                font-weight: 300;
                            }
                            &:last-child {
                                background-image: url(/mobile/images/main/quick_btn02.gif);
                                background-repeat: no-repeat;
                                background-size: 20.33px 16px;
                                background-position: 50% 0;
                            }
                            &:last-child:after {
                                content: "";
                            }
                            a {
                                font-size: 11px;
                                color: #666;
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .gnb {
                border-top: 1px solid #e3e3e3;
                > li {
                    overflow: hidden;
                    border-bottom: 1px solid #e3e3e3;
                    > a {
                        display: block;
                        width: 100%;
                        height: 40px;
                        font-size: 12px;
                        color: #333;
                        font-weight: bold;
                        line-height: 40px;
                        padding-left: 10.33px;
                        span {
                            float: right;
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            margin-top: 14px;
                            margin-right: 13px;
                            background-image: url(/mobile/images/main/quick_plus_btn.gif);
                            background-repeat: no-repeat;
                            background-size: 12px 12px;
                            background-position: 0 0;

                        }
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                        .glyphicon {
                            float: right;
                            color: #999;
                            line-height: 36px;
                            padding-right: 20px;
                        }
                    }
                    > ul {
                        display: none;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background-color: #f9f9f9;
                        > li {
                            overflow: hidden;
                            > a {
                                display: block;
                                width: 100%;
                                font-size: 11px;
                                color: #777;
                                font-weight: bold;
                                line-height: 25px;
                                padding-left: 10px;

                            }
                        }
                    }
                    &.active {
                        background-color: #575757;
                        border-bottom: 0;
                        > a {
                            color: #fff;
                            span {
                                float: right;
                                display: inline-block;
                                width: 12px;
                                height: 1px;
                                margin-top: 18.66px;
                                margin-right: 13px;
                                background-image: url(/mobile/images/main/quick_minus_btn.gif);
                                background-repeat: no-repeat;
                                background-size: 12px 1px;
                                background-position: 0 0;

                            }
                        }
                        > ul {
                            display: block;
                            > li {
                                a {
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    &:focus {
                                        text-decoration: none;
                                        color: #9f080d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.collapsed {
        left: -100%;
        .nav-container {
            left: -270px;
        }
    }
}
body.nav-opened {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#primary-menu {
    overflow: scroll;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #dadada;
    -webkit-overflow-scrolling: touch;
    ul {
        overflow: hidden;
        width: 430px;
        margin: 0 auto;
        text-align: center;
        li {
            float: left;
            height: 42px;
            line-height: 42px;
            display: inline-block;
            text-align: center;
            a {
                margin: 0 10px;
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: #666;
                @extend .roboto;
            }
        }
    }
}

#footer {
    padding-bottom: 20px;
    background-color: #292929;
    .quick-menu {
        height: 33px;
        background-color: #84ccc9;
        ul {
            overflow: hidden;
            li {
                float: left;
                width: 33.3%;
                height: 33px;
                line-height: 33px;
                text-align: center;
                border-left: 1px solid #77b7b5;
                border-right: 1px solid #c2e6e4;
                a {
                    display: block;
                    font-size: 10px;
                    color: #fff;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .policy {
        margin-top: 20px;
        text-align: center;
        ul {
            margin-bottom: 20px;
            li {
                display: inline-block;
                &:after {
                    content: "|";
                    color: #fff;
                    padding: 0 10px;
                    font-weight: bold;
                }
                &:last-child:after {
                    content: "";
                    padding: 0;
                }
                a {
                    font-size: 10px;
                    color: #fff;
                }
            }
        }
    }
    .company {
        margin-top: 20px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                font-size: 10px;
                color: #ababab;
                line-height: 13.3px;
                letter-spacing: -1px;
                &:after {
                    content: "|";
                    color: #ababab;
                    padding: 2px;
                }
                &:last-child:after {
                    content: "";
                    padding: 0;
                }
                dl {
                    display: inline;
                    dt {
                        display: inline-block;
                        font-size: 10px;
                        font-weight: 300;
                        letter-spacing: -1px;
                        &:after {
                            content: ":";
                            padding-left: 2px;
                        }
                    }
                    dd {
                        display: inline-block;
                        font-size: 10px;
                        letter-spacing: -1px;
                        a {
                            color: #ababab;
                        }
                    }
                }
            }
        }
        .copyright {
            margin-top: 18px;
            font-size: 10px;
            color: #ababab;
            text-align: center;
        }
    }
}































