@import "https://fonts.googleapis.com/css?family=Roboto";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.roboto, #primary-menu ul li a {
  font-family: 'Roboto', sans-serif; }

.roman {
  font-family: 'Times New Roman', serif; }

body {
  min-width: 320px;
  font-size: 10px;
  color: #333;
  font-weight: 300;
  font-family: 'Nanum Gothic', serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row .col-xs-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-12 {
      padding-left: 10px;
      padding-right: 10px; }

#header {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #dfdfdf; }
  #header .btn-menu {
    position: absolute;
    top: 5.66px;
    left: 1px;
    padding: 10px;
    border-radius: 0;
    background-color: #fff; }
    #header .btn-menu .bar {
      display: block;
      width: 20px;
      border-top: 2px solid #606060;
      border-radius: 5px;
      margin-top: 6px; }
      #header .btn-menu .bar:first-child {
        margin-top: 0; }
  #header h1 {
    padding-top: 16.6px;
    display: block;
    width: 106px;
    margin: 0 auto; }
    #header h1 img {
      display: block;
      width: 106px; }
  #header .btn-cart {
    position: absolute;
    top: 5.66px;
    right: 1px;
    padding: 10px;
    border-radius: 0;
    background-color: #fff; }
    #header .btn-cart .cart {
      display: block;
      width: 21px;
      height: 17px;
      background-image: url(/mobile/images/main/cart_btn.png);
      background-repeat: no-repeat;
      background-size: 21px auto;
      background-position: 50% 50%; }

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 900; }
  #nav .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901; }
  #nav .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: #fff;
    transition: all .3s;
    z-index: 910; }
    #nav .nav-container .btn-nav-close {
      position: absolute;
      top: 0;
      right: -50px;
      padding: 13px;
      min-width: 50px;
      width: 50px;
      height: 50px;
      background-color: transparent; }
      #nav .nav-container .btn-nav-close img {
        width: 23px;
        height: 23.66px; }
    #nav .nav-container .nav-content {
      overflow: scroll;
      height: 100%; }
      #nav .nav-container .nav-content .nav-head h1 {
        width: 100%;
        text-align: left;
        background-color: #1f1f1f;
        padding: 14.66px 0 14.66px 10px; }
        #nav .nav-container .nav-content .nav-head h1 img {
          display: block;
          width: 106.33px; }
      #nav .nav-container .nav-content .nav-head .quick-menu {
        width: 100%;
        padding: 20px 10px 16.6px; }
        #nav .nav-container .nav-content .nav-head .quick-menu .search-form {
          position: relative; }
          #nav .nav-container .nav-content .nav-head .quick-menu .search-form .form-control {
            height: 30px;
            font-size: 12px;
            color: #666;
            padding-right: 30px;
            box-shadow: none;
            border-radius: 0;
            border: 1px solid #c3c3c3; }
            #nav .nav-container .nav-content .nav-head .quick-menu .search-form .form-control:hover, #nav .nav-container .nav-content .nav-head .quick-menu .search-form .form-control:focus {
              border-color: #c3c3c3; }
          #nav .nav-container .nav-content .nav-head .quick-menu .search-form .btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4.5px;
            margin: 1px;
            border-radius: 0;
            background-color: #fff; }
            #nav .nav-container .nav-content .nav-head .quick-menu .search-form .btn span {
              display: block;
              width: 17px;
              height: 17px;
              background-image: url(/mobile/images/main/search_btn.gif);
              background-repeat: no-repeat;
              background-size: 17px 17px;
              background-position: 50% 50%; }
        #nav .nav-container .nav-content .nav-head .quick-menu .btn-area {
          margin-top: 10px;
          margin-bottom: 16.66px; }
          #nav .nav-container .nav-content .nav-head .quick-menu .btn-area p .btn {
            display: inline-block;
            width: 117.66px;
            height: 30px;
            font-size: 11.33px;
            text-align: center;
            padding: 0;
            line-height: 30px;
            border-radius: 0; }
          #nav .nav-container .nav-content .nav-head .quick-menu .btn-area p .btn-gray {
            color: #4b4b4b;
            margin-right: 11px;
            background-color: #dddddd; }
          #nav .nav-container .nav-content .nav-head .quick-menu .btn-area p .btn-charcoal {
            color: #fff;
            background-color: #575757; }
        #nav .nav-container .nav-content .nav-head .quick-menu ul {
          overflow: hidden; }
          #nav .nav-container .nav-content .nav-head .quick-menu ul li {
            position: relative;
            float: left;
            width: 50%;
            text-align: center;
            line-height: 27.3px;
            padding-top: 17.33px;
            background-image: url(/mobile/images/main/quick_btn01.gif);
            background-repeat: no-repeat;
            background-size: 18px 17.33px;
            background-position: 50% 2px; }
            #nav .nav-container .nav-content .nav-head .quick-menu ul li:after {
              position: absolute;
              bottom: 10px;
              right: -1.5px;
              content: "|";
              color: #e3e3e3;
              font-size: 20px;
              font-weight: 300; }
            #nav .nav-container .nav-content .nav-head .quick-menu ul li:last-child {
              background-image: url(/mobile/images/main/quick_btn02.gif);
              background-repeat: no-repeat;
              background-size: 20.33px 16px;
              background-position: 50% 0; }
            #nav .nav-container .nav-content .nav-head .quick-menu ul li:last-child:after {
              content: ""; }
            #nav .nav-container .nav-content .nav-head .quick-menu ul li a {
              font-size: 11px;
              color: #666; }
              #nav .nav-container .nav-content .nav-head .quick-menu ul li a:hover, #nav .nav-container .nav-content .nav-head .quick-menu ul li a:focus {
                text-decoration: none; }
      #nav .nav-container .nav-content .gnb {
        border-top: 1px solid #e3e3e3; }
        #nav .nav-container .nav-content .gnb > li {
          overflow: hidden;
          border-bottom: 1px solid #e3e3e3; }
          #nav .nav-container .nav-content .gnb > li > a {
            display: block;
            width: 100%;
            height: 40px;
            font-size: 12px;
            color: #333;
            font-weight: bold;
            line-height: 40px;
            padding-left: 10.33px; }
            #nav .nav-container .nav-content .gnb > li > a span {
              float: right;
              display: inline-block;
              width: 12px;
              height: 12px;
              margin-top: 14px;
              margin-right: 13px;
              background-image: url(/mobile/images/main/quick_plus_btn.gif);
              background-repeat: no-repeat;
              background-size: 12px 12px;
              background-position: 0 0; }
            #nav .nav-container .nav-content .gnb > li > a:hover, #nav .nav-container .nav-content .gnb > li > a:focus {
              text-decoration: none; }
            #nav .nav-container .nav-content .gnb > li > a .glyphicon {
              float: right;
              color: #999;
              line-height: 36px;
              padding-right: 20px; }
          #nav .nav-container .nav-content .gnb > li > ul {
            display: none;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #f9f9f9; }
            #nav .nav-container .nav-content .gnb > li > ul > li {
              overflow: hidden; }
              #nav .nav-container .nav-content .gnb > li > ul > li > a {
                display: block;
                width: 100%;
                font-size: 11px;
                color: #777;
                font-weight: bold;
                line-height: 25px;
                padding-left: 10px; }
          #nav .nav-container .nav-content .gnb > li.active {
            background-color: #575757;
            border-bottom: 0; }
            #nav .nav-container .nav-content .gnb > li.active > a {
              color: #fff; }
              #nav .nav-container .nav-content .gnb > li.active > a span {
                float: right;
                display: inline-block;
                width: 12px;
                height: 1px;
                margin-top: 18.66px;
                margin-right: 13px;
                background-image: url(/mobile/images/main/quick_minus_btn.gif);
                background-repeat: no-repeat;
                background-size: 12px 1px;
                background-position: 0 0; }
            #nav .nav-container .nav-content .gnb > li.active > ul {
              display: block; }
              #nav .nav-container .nav-content .gnb > li.active > ul > li a:hover {
                text-decoration: none; }
              #nav .nav-container .nav-content .gnb > li.active > ul > li a:focus {
                text-decoration: none;
                color: #9f080d; }
  #nav.collapsed {
    left: -100%; }
    #nav.collapsed .nav-container {
      left: -270px; }

body.nav-opened {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#primary-menu {
  overflow: scroll;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #dadada;
  -webkit-overflow-scrolling: touch; }
  #primary-menu ul {
    overflow: hidden;
    width: 430px;
    margin: 0 auto;
    text-align: center; }
    #primary-menu ul li {
      float: left;
      height: 42px;
      line-height: 42px;
      display: inline-block;
      text-align: center; }
      #primary-menu ul li a {
        margin: 0 10px;
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #666; }

#footer {
  padding-bottom: 20px;
  background-color: #292929; }
  #footer .quick-menu {
    height: 33px;
    background-color: #84ccc9; }
    #footer .quick-menu ul {
      overflow: hidden; }
      #footer .quick-menu ul li {
        float: left;
        width: 33.3%;
        height: 33px;
        line-height: 33px;
        text-align: center;
        border-left: 1px solid #77b7b5;
        border-right: 1px solid #c2e6e4; }
        #footer .quick-menu ul li a {
          display: block;
          font-size: 10px;
          color: #fff; }
          #footer .quick-menu ul li a:hover, #footer .quick-menu ul li a:focus {
            text-decoration: none; }
  #footer .policy {
    margin-top: 20px;
    text-align: center; }
    #footer .policy ul {
      margin-bottom: 20px; }
      #footer .policy ul li {
        display: inline-block; }
        #footer .policy ul li:after {
          content: "|";
          color: #fff;
          padding: 0 10px;
          font-weight: bold; }
        #footer .policy ul li:last-child:after {
          content: "";
          padding: 0; }
        #footer .policy ul li a {
          font-size: 10px;
          color: #fff; }
  #footer .company {
    margin-top: 20px; }
    #footer .company ul {
      text-align: center; }
      #footer .company ul li {
        display: inline-block;
        font-size: 10px;
        color: #ababab;
        line-height: 13.3px;
        letter-spacing: -1px; }
        #footer .company ul li:after {
          content: "|";
          color: #ababab;
          padding: 2px; }
        #footer .company ul li:last-child:after {
          content: "";
          padding: 0; }
        #footer .company ul li dl {
          display: inline; }
          #footer .company ul li dl dt {
            display: inline-block;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: -1px; }
            #footer .company ul li dl dt:after {
              content: ":";
              padding-left: 2px; }
          #footer .company ul li dl dd {
            display: inline-block;
            font-size: 10px;
            letter-spacing: -1px; }
            #footer .company ul li dl dd a {
              color: #ababab; }
    #footer .company .copyright {
      margin-top: 18px;
      font-size: 10px;
      color: #ababab;
      text-align: center; }

/*# sourceMappingURL=default.css.map */
