.roboto, .product-list ul li a figure figcaption h3 small, .sponcership h3, .best-review h3, .best-review .review ul li .detail .amount {
  font-family: 'Roboto', sans-serif; }

.roman, .product-list ul li a figure figcaption h3 {
  font-family: 'Times New Roman', serif; }

#visual .bx-wrapper ul li {
  text-align: center; }
  #visual .bx-wrapper ul li img {
    display: inline-block; }
#visual .bx-wrapper .bx-controls .bx-pager {
  margin-top: 12.8px;
  text-align: center; }
  #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
    display: inline-block; }
    #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
      display: block;
      width: 9px;
      height: 9px;
      margin: 0 4px;
      text-indent: -99999px;
      border: 1px solid #8a8a87;
      border-radius: 50%;
      background-color: #8a8a87; }
    #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .active {
      border-color: #5e5f5c;
      background-color: #5e5f5c; }

.event {
  margin-top: 36.66px; }
  .event .event-img {
    text-align: center;
    margin-bottom: 15px; }
    .event .event-img img {
      display: inline-block; }
  .event h3 {
    font-size: 14.6px;
    margin-bottom: 13px; }
  .event p {
    font-size: 10px;
    color: #717171;
    line-height: 13.33px; }

.product-list {
  margin-top: 34px; }
  .product-list ul li {
    margin-bottom: 26.6px; }
    .product-list ul li a:hover, .product-list ul li a:focus {
      text-decoration: none; }
    .product-list ul li a figure img {
      display: block; }
    .product-list ul li a figure figcaption {
      margin-top: 12px;
      min-height: 103px; }
      .product-list ul li a figure figcaption h3 {
        font-size: 14px;
        color: #383838; }
        .product-list ul li a figure figcaption h3 small {
          display: block;
          font-size: 10px;
          color: #c9c9c9;
          margin-top: 3px; }
      .product-list ul li a figure figcaption p {
        font-size: 10px;
        color: #717171;
        line-height: 13.33px;
        margin-top: 7px; }

.throw p {
  text-align: center;
  margin-bottom: 14px; }
  .throw p:last-child {
    margin-bottom: 0; }
  .throw p a img {
    display: inline-block; }

.sponcership {
  margin-top: 41.6px;
  padding-bottom: 28.6px; }
  .sponcership h3 {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8.66px; }
  .sponcership .sponcer {
    position: relative; }
    .sponcership .sponcer ul li {
      width: 100%;
      text-align: center; }
      .sponcership .sponcer ul li a {
        display: inline-block; }
    .sponcership .sponcer .bx-controls {
      position: absolute;
      bottom: 4%;
      left: 7%; }
      .sponcership .sponcer .bx-controls .bx-pager {
        margin-top: 12.8px;
        text-align: center; }
        .sponcership .sponcer .bx-controls .bx-pager .bx-pager-item {
          display: inline-block; }
          .sponcership .sponcer .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
            display: block;
            width: 9px;
            height: 9px;
            margin: 0 4px;
            text-indent: -99999px;
            border: 1px solid #8a8a87;
            border-radius: 50%;
            background-color: #8a8a87; }
          .sponcership .sponcer .bx-controls .bx-pager .bx-pager-item .active {
            border-color: #5e5f5c;
            background-color: #5e5f5c; }

.best-review {
  padding-top: 28.6px;
  border-top: 10px solid #ededed; }
  .best-review h3 {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8.66px; }
  .best-review .review {
    text-align: center; }
    .best-review .review ul li {
      overflow: hidden;
      display: block;
      padding-bottom: 26.33px;
      border-bottom: 1px solid #a7a7a7; }
      .best-review .review ul li:last-child {
        margin-top: 26.33px;
        border-bottom: 0; }
      .best-review .review ul li .review-img {
        float: left; }
        .best-review .review ul li .review-img img {
          display: block;
          width: 107px;
          height: 134px; }
      .best-review .review ul li .detail {
        float: left;
        width: 63%;
        height: 134px;
        text-align: left;
        padding: 0 11px 14px 11px; }
        .best-review .review ul li .detail h4 {
          font-size: 11.3px;
          color: #333;
          font-weight: bold; }
        .best-review .review ul li .detail .amount {
          font-size: 10px;
          color: #666;
          font-weight: bold;
          margin-top: 3px;
          margin-bottom: 10px; }
        .best-review .review ul li .detail .review-content {
          font-size: 10px;
          color: #717171;
          line-height: 13.3px; }

/*# sourceMappingURL=main.css.map */
