@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

/* 공통 */
.membership {
    .page-header {
        margin-bottom: 20px;
    }
}

/* mypage */
.mypage {
    .my-info {
        margin-bottom: 20px;
        padding: 19.33px 16.88px;
        border: 2px solid #ededed;
        dl {
            overflow: hidden;
            dt {
                float: left;
                clear: both;
                font-size: 11px;
                color: #333;
                font-weight: 300;
                line-height: 20px;
                padding-left: 10px;
                background-image: url(/mobile/images/membership/my_info_bg.gif);
                background-repeat: no-repeat;
                background-size: 3px auto;
                background-position: 0 6px;
            }
            dd {
                position: relative;
                float: right;
                width: 50%;
                text-align: right;
                font-size: 11px;
                color: #333;
                line-height: 20px;
                padding-right: 40px;
                .inquiry-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    .btn {
                        width: 28.6px;
                        height: 17px;
                        font-size: 10px;
                        color: #333;
                        padding: 0;
                        margin-left: 11px;
                        border-radius: 0;
                        border: 1px solid #dadada;
                    }
                }
            }
        }
    }
    ul {
        li {
            margin-bottom: 20px;
            &:nth-of-type(1) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg01.gif);
                    background-size: 36.6px auto;
                }
            }
            &:nth-of-type(2) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg02.gif);
                    background-size: 25.6px auto;
                }
            }
            &:nth-of-type(3) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg03.gif);
                    background-size: 25.3px auto;
                }
            }
            &:nth-of-type(4) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg04.gif);
                    background-size: 28px auto;
                }
            }
            &:nth-of-type(5) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg05.gif);
                    background-size: 34.6px auto;
                }
            }
            &:nth-of-type(6) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg06.gif);
                    background-size: 23.3px auto;
                }
            }
            &:nth-of-type(7) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg07.gif);
                    background-size: 30.3px auto;
                }
            }
            &:nth-of-type(8) {
                a {
                    background-image: url(/mobile/images/membership/mypage_menu_bg08.gif);
                    background-size: 21.6px auto;
                }
            }
            a {
                display: block;
                height: 87px;
                text-align: center;
                padding-top: 45px;
                border: 1px solid #dadada;
                background-repeat: no-repeat;
                background-position: 50% 23%;
                &:hover,
                &:focus {
                    text-decoration: none;
                    border-color: #84ccc9;
                    h3 {
                        color: #84ccc9;
                    }
                }
                h3 {
                    font-size: 11px;
                    color: #333;
                    letter-spacing: 2px;
                    margin-bottom: 3px;
                    font-family: 'Noto Sans', sans-serif;
                }
                p {
                    font-size: 11px;
                    color: #666;
                }
            }
        }
    }
}

/* mylist */
.mylist {
    .inquiry-revoke {
        margin-bottom: 26.6px;
        ul {
            overflow: hidden;
            li {
                float: left;
                width: 50%;
                text-align: center;
                border: 1px solid #e4e4e4;
                &:last-child {
                    margin-left: -1px;
                }
                a {
                    font-size: 11px;
                    color: #666;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                }
            }
            .active {
                border-color: #222;
                background-color: #222;
                a {
                    color: #fff;
                }
            }
        }
    }
    .inquiry {
        ul {
            overflow: hidden;
            margin-bottom: 27px;
            li {
                float: left;
                width: 20%;
                text-align: center;
                margin-right: -1px;
                border: 1px solid #e4e4e4;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    height: 27px;
                    font-size: 11px;
                    color: #666;
                    line-height: 27px;
                    display: block;
                }
            }
            .active {
                border-color: #919191;
                background-color: #919191;
                a {
                    color: #fff;
                }
            }
        }
        .calendar {
            width: 300px;
            margin: 0 auto;
            .form-control {
                display: inline-block;
                width: 107px;
                height: 30px;
            }
            .ui-datepicker-trigger {
                width: 23.3px;
                vertical-align: top;
                margin: 2px 0 0 5px;;
            }
        }
        .btn-area {
            margin-top: 21.6px;
        }
    }
}
.product-info {
    margin-top: 26.6px;
    padding-top: 31.3px;
    border-top: 10px solid #ededed;
    h3 {
        font-size: 11px;
        color: #333;
        margin-bottom: 10px;
    }
    .order-list {
        width: 300px;
        margin: 0 auto;
        li {
            margin-bottom: 20px;
            padding-bottom: 11.6px;
            border: 1px solid #c1c1c1;
            &:last-child {
                margin-bottom: 0;
            }
            .order-head {
                overflow: hidden;
                padding: 13.3px 11px;
                background-color: #fafafa;
                border-bottom: 1px solid #e7e7e7;
                .date {
                    float: left;
                    display: inline;
                    font-size: 11px;
                    color: #333;
                    font-weight: bold;
                    text-align: left;
                }
                dl {
                    float: right;
                    dt {
                        font-size: 11px;
                        color: #333;
                        font-weight: bold;
                        display: inline;
                        &:after {
                            content: ":";
                        }
                    }
                    dd {
                        display: inline-block;
                        a {
                            font-size: 11px;
                            color: #333;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .order-content {
                overflow: hidden;
                padding: 11.6px 9.33px;
                background-color: #fff;
                .item-img {
                    float: left;
                    margin-right: 16.33px;
                    img {
                        width: 110px;
                    }
                }
                .details {
                    float: left;
                    width: 150px;
                    position: relative;
                    height: 106.66px;
                    h5 {
                        font-size: 11px;
                        color: #666;
                        font-weight: 300;
                    }
                    dl {
                        margin-top: 3px;
                        dt {
                            font-size: 11px;
                            color: #666;
                            font-weight: 300;
                            display: inline;
                            &:before {
                                content: "[";
                            }
                            &:after {
                                content: ":";
                            }
                        }
                        dd {
                            font-size: 11px;
                            color: #666;
                            display: inline;
                            &:after {
                                content: "]";
                            }
                        }
                    }
                    .amount {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 11px;
                    }
                }
            }
            .success {
                font-size: 12px;
                font-weight: bold;
                color: #ca0000;
                padding-left: 9.33px;
            }
        }
    }
    .paging {
        margin-top: 26px;
    }
}

/* order-identify */
.order-identify {
    h3 {
        font-size: 11px;
        color: #333;
        margin: 24.6px 0 11px 0;
        &:first-child {
            margin-top: 5px;
        }
    }
    .table-wrap {
        .table.table-bordered {
            border-top: 1px solid #444;
            tbody {
                tr {
                    th {
                        font-size: 11px;
                        color: #222;
                        font-weight: bold;
                        text-align: left;
                        border-left: 0;
                        &:nth-of-type(1) {
                            border-top: 0;
                        }
                    }
                    td {
                        font-size: 11px;
                        color: #666;
                        text-align: left;
                        border-right: 0;
                        &:nth-of-type(1) {
                            border-top: 0;
                        }
                    }
                    .total {
                        color: #ca0000;
                    }
                }
            }
        }
    }
    .product-infomation {
        border: 1px solid #c1c1c1;
        border-bottom-color: #dadada;
        padding-bottom: 11px;
        .order-content {
            overflow: hidden;
            padding: 11.6px 9.33px;
            background-color: #fff;
            .item-img {
                float: left;
                margin-right: 16.33px;
                img {
                    width: 110px;
                }
            }
            .details {
                float: left;
                width: 150px;
                position: relative;
                height: 106.66px;
                h5 {
                    font-size: 11px;
                    color: #666;
                    font-weight: 300;
                }
                dl {
                    margin-top: 3px;
                    dt {
                        font-size: 11px;
                        color: #666;
                        font-weight: 300;
                        display: inline;
                        &:before {
                            content: "[";
                        }
                        &:after {
                            content: ":";
                        }
                    }
                    dd {
                        font-size: 11px;
                        color: #666;
                        display: inline;
                        &:after {
                            content: "]";
                        }
                    }
                }
                .amount {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 11px;
                    padding-bottom: 11px;
                }
            }
        }
        .success {
            font-size: 12px;
            font-weight: bold;
            color: #ca0000;
            padding-left: 9.33px;
        }
    }
    .total-amount {
        text-align: right;
        padding: 14.3px 9px;
        border: 1px solid #c1c1c1;
        border-top: 0;
        dt {
            display: inline;
            font-size: 11px;
            font-weight: 300;
            color: #666;
            &:after {
                content: "=";
                padding: 0 5px;
            }
        }
        dd {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: 666;
        }
    }
    .btn-area {
        margin-top: 30px;
    }
}

/* basket */
.basket {
    .btn-del {
        margin-top: 12px;
        margin-bottom: 11px;
        text-align: left;
        > p {
            font-size: 11px;
            color: #222;
        }
    }
    ul {
        width: 300px;
        margin: 0 auto;
        li {
            margin-bottom: 21.33px;
            &:last-child {
                margin-bottom: 0;
            }
            .select-product {
                overflow: hidden;
                padding: 7.6px 8.6px;
                border: 1px solid #c1c1c1;
                .check {
                    display: block;
                    margin-bottom: 7.6px;
                }
                .items {
                    float: left;
                    margin-right: 18px;
                    img {
                        width: 110px;
                    }
                }
                .details {
                    width: 152.3px;
                    float: left;
                    margin-bottom: 17.33px;
                    h3 {
                        font-size: 11px;
                        color: #666;
                    }
                    dl {
                        margin-top: 15.6px;
                        overflow: hidden;
                        dt {
                            float: left;
                            clear: both;
                            font-weight: 300;
                            font-size: 10px;
                            color: #666;
                            line-height: 17px;
                            margin-right: 5px;
                        }
                        dd {
                            float: left;
                            font-size: 10px;
                            color: #666;
                            line-height: 17px;
                        }
                        .total {
                            font-weight: bold;
                        }
                    }
                    .btn-count {
                        float: right;
                        margin-top: 8px;
                        p {
                            .btn {
                                margin: 0;
                            }
                            .btn-default {
                                margin-left: 3px;
                                width: 42px;
                                height: 30px;
                                font-size: 11px;
                                padding: 0;
                                line-height: 30px;
                                background-color: #fff;
                                border-color: #dfdfdf;
                            }
                        }
                    }
                }
                .btn-area {

                    p {
                        .btn-default {
                            width: 86.6px;
                            border-color: #dfdfdf;
                        }
                    }
                }
            }
            .total-amount {
                text-align: right;
                padding: 14.3px 9px;
                border: 1px solid #c1c1c1;
                border-top: 0;
                background-color: #fafafa;
                dt {
                    display: inline;
                    font-size: 11px;
                    font-weight: 300;
                    color: #666;
                    &:after {
                        content: "=";
                        padding: 0 5px;
                    }
                }
                dd {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    color: 666;
                }
            }
        }
    }
    .sum-total {
        margin-top: 30px;
        margin-bottom: 25px;
        border-top: 1px solid #858585;
        border-bottom: 1px solid #858585;
        background-color: #fafafa;
        .table {
            border: 0;
            margin: 0;
            thead {
                tr {
                    th {
                        font-size: 11px;
                        font-weight: 300;
                        color: #555;
                        padding-top: 15px;
                        padding-bottom: 6.66px;
                        text-align: center;
                        border: 0;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 11px;
                        font-weight: bold;
                        color: #555;
                        text-align: center;
                        padding-bottom: 15px;
                        padding-top: 6.66px;
                        border: 0;
                    }
                    .total {
                        color: #d41010;
                    }
                }
            }
        }
    }
    .btn-area {
        p {
            .btn-default.btn-sm {
                margin: 0;
            }
            .btn-default.btn-lg {
                margin-top: 10px;
            }
        }
    }
}











































































































