/* sub common */
select {
    width: 100%;
    border: 1px solid #ccc;
    &:hover {
        border: 1px solid #ccc;
        box-shadow: none;
    }
}
input {
    border: 1px solid #ccc;
    box-shadow: none;
    &:hover {
        border: 1px solid #ccc;
        box-shadow: none;
    }
}
.form-control {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    &:hover {
        border: 1px solid #ccc;
        box-shadow: none;
    }
}

.content {
    padding-bottom: 47.66px;
    .page-header {
        height: 52.6px;
        text-align: center;
        margin: 0;
        padding: 18px 0;
        border-bottom: 1px solid #f3f3f3;
        background-image: url(/mobile/images/sub/top_bg.gif);
        background-position: 0 0;
        background-size: auto 15px;
        background-repeat: repeat-x;
        h2 {
            font-size: 16px;
            color: #333;
        }
    }
    .container {
//        padding-top: 20px;
    }
}
.select-area {
    .form-control {
        font-size: 12px;
        color: #666;
        font-weight: bold;
        padding-left: 16px;
    }
}
.search-form {
    .search {
        position: relative;
        overflow: hidden;
        select {
            float: left;
            width: 26%;
            height: 40px;
            font-size: 12px;
            color: #666;
            font-weight: bold;
            text-align: center;
            padding-left: 16px;
        }
        input {
            float: left;
            width: 74%;
            height: 40px;
            padding-right: 65px;
            margin-left: -1px;
        }
        .search-btn {
            position: absolute;
            top: 0;
            right: 0;
            .btn {
                width: 60px;
                height: 40px;
                color: #fff;
                padding: 9px 0;
                font-weight: bold;
                border-radius: 0;
                background-color: #99cc99;
            }
        }
    }
}
.table-wrap {
    .table.table-bordered {
        border-top: 2px solid #444;
        margin: 0;
        tbody {
            tr {
                th {
                    font-size: 11px;
                    color: #222;
                    text-align: left;
                    padding: 14px 9.3px;
                    background-color: #f7f7f7;
                }
                td {
                    font-size: 11px;
                    color: #222;
                    text-align: left;
                    padding: 14px 9.3px;
                }
            }
        }
    }
}

.panel-group {
    margin: 0;
    border-top: 1px solid #444;
    .panel {
        box-shadow: none;
        border-radius: 0;
        border: 0 !important;
        margin-top: 0 !important;
        .panel-heading {
            padding: 18px 11px;
            text-align: left;
            background-color: #fff;
            border-bottom: 1px solid #f3f3f3;
            .panel-title {
                a {
                    display: block;
                    background-image: url(/mobile/images/product/panel_up_btn.png);
                    background-repeat: no-repeat;
                    background-size: 11px auto;
                    background-position: 98% 50%;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                    h4 {
                        font-size: 11px;
                        color: #333;
                        display: block;
                        padding-right: 30px;
                        line-height: 16px;
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            display: inline-block;
                            font-size: 10px;
                            color: #666;
                            &:after {
                                content: "|";
                                color: #acacac;
                                padding: 0 11px;
                            }
                            &:last-child:after {
                                content: "";
                                padding: 0;
                            }
                            dl {
                                display: inline;
                                dt {
                                    display: inline-block;
                                    width: 25px;
                                    font-size: 10px;
                                    color: #666;
                                }
                                dd {
                                    display: inline;
                                    font-size: 10px;
                                    color: #666;
                                }
                            }
                        }
                    }
                }
                a.collapsed {
                    background-image: url(/mobile/images/product/panel_down_btn.png);
                    background-repeat: no-repeat;
                    background-size: 11px auto;
                    background-position: 98% 50%;
                }
            }
        }
    }
    .panel-body {
        font-size: 10px;
        color: #666;
        line-height: 19.3px;
        padding: 16px 11px;
        border-top: 1px solid #ededed !important;
        border-bottom: 1px solid #ededed;
        background-color: #f9f9f9;
    }
}

.btn-area {
    text-align: center;
    p {
        .btn {
            display: inline-block;
            padding: 0;
            font-size: 12px;
            border-radius: 0;
            font-weight: bold;
            text-align: center;
            margin-right: 7px;
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &:focus {
                box-shadow: none;
                opacity: .8;
            }
        }
        .btn-xs {
            width: 67.3px;
            height: 32px;
            padding: 6px 0;
        }
        .btn-sm {
            width: 145px;
            height: 32px;
            padding: 6px 0;
        }
        .btn-basics {
            width: 93.3px;
            height: 32px;
            padding: 6px 0;
        }
        .btn-lg {
            width: 300px;
            height: 36px;
            margin: 0 auto;
            padding: 9px 0;
        }
        .btn-default {
            color: #666;
            border: 1px solid #666;
            background-color: #fff;
        }
        .btn-green {
            color: #fff;
            background-color: #99cc99;
        }
        .btn-gray {
            color: #fff;
            background-color: #666;
        }
    }
}

.paging {
    height: 30px;
    text-align: center;
    .pagination {
        display: inline-block;
        margin: 0;
        li {
            a {
                width: 34px;
                height: 32px;
                font-size: 12px;
                color: #666;
                font-weight: bold;
                padding: 6px 12px;
                border-radius: 0;
                border: 1px solid #dadada;
            }
        }
        .active {
            a {
                color: #fff;
                border-color: #99cc99;
                background-color: #99cc99;
            }
        }
    }
}


.btn-count {
    overflow: hidden;
    .btn {
        box-shadow: none;
        float: left;
        width: 31px;
        height: 30px;
        border: 1px solid #dfdfdf;
        background-color: #f6f6f6;
        border-radius: 0;
        &:hover {
            opacity: .8;
        }
    }
    span {
        display: block;
        float: left;
        width: 41.33px;
        height: 30px;
        font-size: 11px;
        color: #666;
        line-height: 30px;
        text-align: center;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        background-color: #fff;
    }
    .btn-minus {
        background-image: url(/mobile/images/product/minus_btn.png);
        background-repeat: no-repeat;
        background-size: 10px auto;
        background-position: 50% 50%;
    }
    .btn-plus {
        background-image: url(/mobile/images/product/plus_btn.png);
        background-repeat: no-repeat;
        background-size: 10px auto;
        background-position: 50% 50%;
    }
}
/* menu-guide */
.menu-guide {
    position: relative;
    padding-top: 25.3px;
    margin-bottom: 21.66px;
    border-bottom: 1px solid #dadada;
    ul {
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            text-align: center;
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: "|";
                font-size: 10px;
                color: #dadada;
            }
            a {
                display: inline-block;
                font-size: 10px;
                color: #222;
                padding-bottom: 10px;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
        .menu-1 {
            &:after {
                right: 5px;
            }
        }
        .menu-2 {
            margin-left: 8px;
            &:after {
                right: -18px;
            }
        }
        .menu-3 {
            margin-left: 0px;
            &:after {
                content: "";
            }
        }
        .menu-6 {
            &:after {
                content: "";
            }
        }
        .active {
            a {
                border-bottom: 1px solid #222;
            }
        }
    }
    .bx-controls {
        width: 300px;
        position: absolute;
        top: 25.3px;
        .bx-controls-direction {
            .bx-prev {
                position: absolute;
                top: 0px;
                left: 0;
                color: #b7b8b8;
            }
            .bx-next {
                position: absolute;
                top: 0px;
                right: 0;
                color: #b7b8b8;
            }
        }
    }
}














